$blanco: #f2f2f2
$gris: #707070
$azul: #1C448E

.contacto
  width: 100%
  height: 100%
  // background: #fff
  // display: flex
  // flex-flow: column nowrap
  // justify-content: space-between
  // align-items: center
  // animation: moverIzquierda 1s ease
  .container
    width: 46%
    height: auto
    display: flex
    flex-flow: column nowrap
    justify-content: space-between
    align-items: center
    .texto
      h2
        font-size: 70px
        font-weight: normal
        color: $azul
        text-align: center
      p
        font-size: 35px
        font-weight: normal
        text-align: center
        margin-top: 20px
    .btnCorreo
      width: 491px
      height: 105px
      border: 2px solid $azul
      border-radius: 90px
      z-index: 0
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
      .img
        img
          width: 78px
          height: 78px
          margin: 0 10px
      .texto
        h3
          text-align: center
          font-size: 35px
          font-weight: normal
          a
            text-decoration: none
            color: #000
            text-align: center
      &:hover
        background: $azul
        img
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(102%) contrast(103%)
        h3
          a
            color: #fff
    .btnWhatsapp
      width: 491px
      height: 105px
      border: 2px solid #25D366
      border-radius: 90px
      margin-top: 50px
      z-index: 0
      display: flex
      flex-flow: row nowrap
      justify-content: center
      align-items: center
      .img
        img
          width: 78px
          height: 78px
          margin: 0 10px
      .texto
        h3
          text-align: center
          font-size: 35px
          font-weight: normal
          a
            text-decoration: none
            color: #000
            text-align: center
      &:hover
        background: #25D366
        img
          filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%)
          -webkit-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%)
          -moz-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%)
        h3
          a
            color: #fff


  .inCont
    width: auto
    height: auto
    z-index: 1000
    .uno
      clip-path: circle(0% at 0% 0%)
    .dos
      clip-path: circle(145% at 0% 0%)
      position: fixed
      display: flex
      top: 0
      background: #1e3c72
      background: -webkit-linear-gradient(to right, #2a5298, #1e3c72)
      background: linear-gradient(to right, #2a5298, #1e3c72)
      justify-content: space-around
      align-items: center
      height: 100%
      left: 0
      align-items: center
      width: 100%
      transition: 1s all ease-in
      form
        width: 800px
        height: 400px
        display: flex
        flex-flow: row wrap
        justify-content: space-evenly
      textarea
        font-size: 25px
        background-color: transparent
        border: 1px solid #fff
        width: 725px
        height: 200px
        color: #fff
        border-radius: 30px
        padding: 10px
        margin: 10px 10px
        &:focus
          border: 2px solid #050C73
          outline: none
      input[id="correo"]
        font-size: 25px
        background-color: transparent
        border: 1px solid #fff
        width: 350px
        height: 75px
        color: #fff
        border-radius: 90px
        padding: 10px
        margin: 10px 10px
        &:focus
          border: 2px solid #050C73
          outline: none
      input[id="nombre"]
        font-size: 25px
        background-color: transparent
        border: 1px solid #fff
        width: 350px
        height: 75px
        color: #fff
        border-radius: 90px
        padding: 10px
        margin: 10px 10px
        &:focus
          border: 2px solid #050C73
          outline: none
      input[id="btn"]
        font-size: 25px
        background-color: transparent
        border: 1px solid #fff
        width: 725px
        height: 75px
        color: #fff
        border-radius: 90px
        margin: 10px 10px
        &:hover
          background: #fff
          color: $azul
          border: 1px solid $azul
          text-decoration: underline
      .bck
        width: 150px
        height: 75px
        display: flex
        justify-content: flex-start
        a
          font-size: 25px
          background-color: transparent
          border: 1px solid #fff
          width: 150px
          height: 75px
          color: #fff
          border-radius: 90px
          position: fixed
          left: 10px
          top: 10px
          text-decoration: none
          &:hover
            background: #fff
            color: $azul
            border: 1px solid $azul
            text-decoration: underline
          p
            font-size: 25px
            margin-top: 19px
            text-decoration: none
            text-align: center

@keyframes moverIzquierda
  0%
    opacity: 0
    transform: translateX(100px)
  100%
    opacity: 1
    transform: translateX(0)

@media screen and (max-width: 650px)
  .contacto
    .container
      .texto
        h2
          font-size: 50px
        p
          font-size: 25px
      .btnCorreo
        width: 291px
        height: 52.5px
        .img
          img
            width: 39px
            height: 39px
            margin: 0 10px
        .texto
          h3
            text-align: center
            font-size: 20px
            font-weight: normal
            a
              text-decoration: none
              color: #000
              text-align: center
      .btnWhatsapp
        width: 291px
        height: 52.5px
        .img
          img
            width: 39px
            height: 39px
            margin: 0 10px
        .texto
          h3
            text-align: center
            font-size: 20px
            font-weight: normal
            a
              text-decoration: none
              color: #000
              text-align: center

@media screen and (max-width: 450px)
  .contacto
    .container
      .texto
        h2
          font-size: 40px
        p
          font-size: 20px
      .btnCorreo
        width: 200px
        height: 42.5px
        .img
          img
            width: 29px
            height: 29px
            margin: 0 10px
        .texto
          h3
            text-align: center
            font-size: 15px
            font-weight: normal
            a
              text-decoration: none
              color: #000
              text-align: center
      .btnWhatsapp
        width: 200px
        height: 42.5px
        .img
          img
            width: 29px
            height: 29px
            margin: 0 10px
        .texto
          h3
            text-align: center
            font-size: 15px
            font-weight: normal
            a
              text-decoration: none
              color: #000
              text-align: center
// @media only screen and (max-width: 800px) and (min-width: 500px)
//   .contacto
//     top: 511.8125em
//
// @media only screen and (max-width: 500px) and (min-width: 200px)
//   .contacto
//     top: 611.8125em
