$blanco: #f2f2f2
$gris: #707070
$azul: #1C448E

.footer
  width: 100%
  height: 40%
  margin-top: 60px
  padding: 0
  background-image: url(../img/bkFooter.jpg)
  background-repeat: no-repeat
  background-position: center
  background-attachment: fixed
  background-size: cover
  display: flex
  flex-flow: column nowrap
  justify-content: space-between
  // .bkFooter
  //   img
  //     width: 1920px
  //     height: 51.68650793650794vh
  //     object-fit: cover
  // .container
  //   height: 100%
  //   width: 100%
  //   display: flex
  //   flex-flow: column nowrap
  //   justify-content: space-between
  //   align-items: center
  //   align-content: center
  .socialMedia
    display: flex
    flex-flow: row nowrap
    justify-content: space-evenly
    align-items: center
    position: relative
    top: 45%
    width: 100%
    height: auto
    .sociaLi
      margin: 0 4%
      list-style: none
      a
        text-decoration: none
        font-size: 35px
        color: #fff
  .final
    width: 100%
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: flex-end
    .derechos
      width: auto
      height: auto
      p
        font-size: 35px
        color: #fff
    .credits
      width: auto
      align-self: flex-end
      margin-right: 80px
      p
        font-size: 15px
        color: #fff
      a
        font-size: 15px
        color: #fff

@media screen and (max-width: 800px)
  .footer
    .socialMedia
      .sociaLi
        a
          font-size: 25px
    .final
      .derechos
        p
          font-size: 25px
      .credits
        p
          font-size: 10px
        a
          font-size: 10px

@media screen and (max-width: 465px)
  .footer
    .socialMedia
        flex-flow: row wrap

@media screen and (max-width: 450px)
  .footer
    .socialMedia
      .sociaLi
        a
          font-size: 20px
          margin: 0
    .final
      .derechos
        p
          font-size: 12px
      .credits
        display: none
// @media only screen and (max-width: 800px) and (min-width: 500px)
//   .footer
//     top: 565.5em
//
// @media only screen and (max-width: 500px) and (min-width: 200px)
//   .footer
//     top: 665.5em
