$azul: #1C448E

body
  overflow-x: hidden
  .topBar
    width: 100%
    height: 100%
    max-width: 1920px
    max-height: 120px
    background: #f2f2f2
    img
      width: 203px
      position: relative
      top: -41px
      left: 80px
  .texto
    width: 100%
    max-width: 635px
    height: 100%
    max-height: 35px
    ul
      list-style: none
      font-size: 25px
      float: left
      position: absolute
      top: 43px
      left: 1125px
      li
        display: inline
        margin-right: 50px
        a
          text-decoration: none
          color: #000
          &:hover
            color: #A4A4A4
  .bkHeader
    width: 100%
    max-width: 1920px
    height: 100%
    max-height: 1263px
    background: $azul
    .bgk
      opacity: 60%
      width: 1920px
      height: 1263px
    .flecha
      width: 148px
      height: 148px
      position: absolute
      left: 1047.85px
      top: 569.03px
      transform: rotate(122deg)
    .texto
      h2
        font-size: 90px
        width: 1209
        height: 272
        position: absolute
        left: 1209px
        top: 272px
        color: white
        font-weight: normal
      p
        font-family: 'Caveat'
        font-size: 40px
        color: #fff
        position: absolute
        left: 1006px
        top: 734px
    .btnCont
      width: 100%
      max-width: 277px
      max-height: 100%
      height: 61px
      background: #fff
      border: 1px #707070
      border-radius: 90px
      position: absolute
      top: 934px
      left: 822px
      // &:hover
      //   background: $azul
      //   border-color: #fff
      a
        text-decoration: none
        color: #000
        font-size: 30px
        position: absolute
        left: 29.25px
        top: 7.75px
        &:hover
          text-decoration: underline
