$azul: #1C448E

body
  overflow-x: hidden
  .topBar
    width: 1920px
    height: 120px
    background: #f2f2f2
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    align-items: center
    .barMenu
    img
      width: 203px
    .texto
      width: 900px
      height: 35px
      #barMenu
        list-style: none
        font-size: 25px
        display: flex
        flex-flow: row nowrap
        justify-content: space-evenly
        align-items: center
        .barMenu
          a
            text-decoration: none
            color: #000
            font-size: 25px
            &:hover
              color: #A4A4A4
  .bkHeader
    width: 100%
    height: 1263px
    .bgk
      width: 1920px
      height: 1263px
    .flecha
      width: 148px
      height: 148px
      position: absolute
      left: 1047.85px
      top: 569.03px
      transform: rotate(122deg)
    .texto
      h1
        font-size: 90px
        width: 1209
        height: 272
        position: absolute
        left: 1209px
        top: 272px
        color: white
        font-weight: normal
      p
        font-family: 'Caveat'
        font-size: 40px
        color: #fff
        position: absolute
        left: 1006px
        top: 734px
    .btnCont
      width: 277px
      height: 100%
      height: 61px
      background: #fff
      border: 1px #707070
      border-radius: 90px
      position: absolute
      top: 934px
      left: 822px
      a
        text-decoration: none
        color: #000
        font-size: 30px
        position: absolute
        left: 29.25px
        top: 7.75px
        &:hover
          text-decoration: underline
