body {
  overflow-x: hidden; }
  body .topBar {
    width: 1920px;
    height: 120px;
    background: #f2f2f2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }
    body .topBar img {
      width: 203px; }
    body .topBar .texto {
      width: 900px;
      height: 35px; }
      body .topBar .texto #barMenu {
        list-style: none;
        font-size: 25px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center; }
        body .topBar .texto #barMenu .barMenu a {
          text-decoration: none;
          color: #000;
          font-size: 25px; }
          body .topBar .texto #barMenu .barMenu a:hover {
            color: #A4A4A4; }
  body .bkHeader {
    width: 100%;
    height: 1263px; }
    body .bkHeader .bgk {
      width: 1920px;
      height: 1263px; }
    body .bkHeader .flecha {
      width: 148px;
      height: 148px;
      position: absolute;
      left: 1047.85px;
      top: 569.03px;
      transform: rotate(122deg); }
    body .bkHeader .texto h1 {
      font-size: 90px;
      width: 1209;
      height: 272;
      position: absolute;
      left: 1209px;
      top: 272px;
      color: white;
      font-weight: normal; }
    body .bkHeader .texto p {
      font-family: "Caveat";
      font-size: 40px;
      color: #fff;
      position: absolute;
      left: 1006px;
      top: 734px; }
    body .bkHeader .btnCont {
      width: 277px;
      height: 100%;
      height: 61px;
      background: #fff;
      border: 1px #707070;
      border-radius: 90px;
      position: absolute;
      top: 934px;
      left: 822px; }
      body .bkHeader .btnCont a {
        text-decoration: none;
        color: #000;
        font-size: 30px;
        position: absolute;
        left: 29.25px;
        top: 7.75px; }
        body .bkHeader .btnCont a:hover {
          text-decoration: underline; }

.servicios {
  width: 1920px;
  height: 750px;
  background: #f2f2f2;
  border: 1px #707070;
  margin: 66px 0 198px 0; }
  .servicios .vline {
    background: #1C448E;
    width: 1px;
    height: 356px; }
  .servicios #line1 {
    position: absolute;
    top: 1705.5px;
    left: 219.5px; }
  .servicios #line2 {
    position: absolute;
    top: 1705.5px;
    left: 623px; }
  .servicios #line3 {
    position: absolute;
    top: 1705.5px;
    left: 1168.5px; }
  .servicios #line4 {
    position: absolute;
    top: 1705.5px;
    left: 1667.5px; }
  .servicios .esp {
    font-size: 90px;
    position: relative;
    top: 49px;
    color: #1C448E;
    font-weight: normal;
    text-align: center; }
  .servicios .pintura {
    position: absolute;
    left: 299.5px;
    top: 1715px;
    width: 284px;
    height: 306px; }
    .servicios .pintura h4 {
      font-size: 50px;
      font-weight: normal;
      color: #1C448E;
      position: relative;
      text-align: center; }
    .servicios .pintura ul li {
      color: #000;
      font-size: 30px;
      text-align: center;
      margin: 20px 0 20px 0;
      list-style: unset; }
  .servicios .avaluo {
    width: 426px;
    height: 289px;
    position: absolute;
    top: 1715px;
    left: 703.5px; }
    .servicios .avaluo h4 {
      color: #1C448E;
      font-size: 50px;
      font-weight: normal;
      text-align: center; }
    .servicios .avaluo ul li {
      color: #000;
      font-size: 30px;
      text-align: center;
      margin: 20px 0 20px 0;
      list-style: unset; }
  .servicios .enderezado {
    width: 338px;
    height: 289px;
    position: absolute;
    top: 1715px;
    left: 1249.5px; }
    .servicios .enderezado h4 {
      color: #1C448E;
      font-size: 50px;
      font-weight: normal;
      text-align: center; }
    .servicios .enderezado ul li {
      color: #000;
      font-size: 30px;
      text-align: center;
      margin: 20px 0 20px 0;
      list-style: unset; }

.Calidad {
  margin-bottom: 121px;
  width: 1709px;
  height: 973px; }
  .Calidad .img1 {
    max-width: 507px;
    width: 100%;
    max-height: 338px;
    height: 100%;
    position: absolute;
    left: 85px;
    top: 2814px;
    z-index: 2; }
  .Calidad .bkimg1 {
    background: #1C448E;
    width: 507px;
    height: 338px;
    position: absolute;
    left: 75px;
    top: 2824px;
    z-index: 1; }
  .Calidad .img2 {
    width: 631px;
    height: 421px;
    position: absolute;
    left: 1143px;
    top: 2309px;
    z-index: 2; }
  .Calidad .bkimg2 {
    background: #1C448E;
    width: 631px;
    height: 421px;
    position: absolute;
    left: 1153px;
    top: 2300px;
    z-index: 1; }
  .Calidad .texto h3 {
    font-size: 90px;
    color: #1C448E;
    font-weight: normal; }
  .Calidad .texto .t1 {
    position: absolute;
    left: 498px;
    top: 2317px; }
  .Calidad .texto .t2 {
    position: absolute;
    left: 149px;
    top: 2455px; }
  .Calidad .texto .t3 {
    position: absolute;
    left: 400px;
    top: 2602px; }
  .Calidad .texto .t4 {
    position: absolute;
    left: 684px;
    top: 2824px; }
  .Calidad .texto p {
    font-size: 40px;
    position: absolute;
    left: 945px;
    top: 3000px; }

.beneficios {
  width: 1920px;
  height: 995px;
  background: #f2f2f2;
  border: 1px solid #000;
  margin-bottom: 144.5px; }
  .beneficios .up {
    margin-top: 81px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .beneficios h4 {
    font-size: 44px;
    color: #1C448E; }
  .beneficios p {
    font-size: 25px;
    color: #000;
    margin-top: 10px; }
    .beneficios p b {
      font-size: 25px; }
  .beneficios img {
    width: 110px;
    height: 131px; }
  .beneficios .ubi {
    width: 461px;
    height: 398px; }
    .beneficios .ubi h4 {
      text-align: center; }
    .beneficios .ubi p {
      text-align: center; }
    .beneficios .ubi img {
      display: block;
      margin: auto; }
  .beneficios .precio {
    width: 461px;
    height: 398px; }
    .beneficios .precio h4 {
      text-align: center; }
    .beneficios .precio p {
      text-align: center; }
    .beneficios .precio img {
      display: block;
      margin: auto;
      position: relative;
      top: 40px; }
  .beneficios .rapi {
    width: 461px;
    height: 398px; }
    .beneficios .rapi h4 {
      text-align: center; }
    .beneficios .rapi p {
      text-align: center; }
    .beneficios .rapi img {
      display: block;
      margin: auto; }
  .beneficios .dw {
    margin-top: 81px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .beneficios .trato {
    width: 461px;
    height: 398px; }
    .beneficios .trato h4 {
      text-align: center; }
    .beneficios .trato p {
      text-align: center; }
    .beneficios .trato img {
      display: block;
      margin: auto; }
  .beneficios .horario {
    width: 461px;
    height: 398px; }
    .beneficios .horario h4 {
      text-align: center; }
    .beneficios .horario p {
      text-align: center; }
    .beneficios .horario img {
      display: block;
      margin: auto;
      position: relative;
      top: 140px; }
  .beneficios .tec {
    width: 461px;
    height: 398px; }
    .beneficios .tec h4 {
      text-align: center; }
    .beneficios .tec p {
      text-align: center; }
    .beneficios .tec img {
      display: block;
      margin: auto;
      position: relative;
      top: 40px; }

.calif {
  width: 1920px;
  height: 400px;
  background: #fff;
  border: 1px solid #000;
  position: absolute;
  top: 4542.5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 144.5px; }
  .calif .carousel-item {
    width: 1920px;
    height: 400px;
    margin-top: 30px; }
  .calif .carousel-inner {
    width: 1920px;
    margin-top: 30px;
    height: 400px; }
    .calif .carousel-inner h3 {
      font-size: 35px;
      color: #000;
      text-align: center;
      margin-top: 20px;
      font-weight: bold; }
    .calif .carousel-inner p {
      font-size: 25px;
      color: #000;
      text-align: center;
      margin-top: 10px;
      font-weight: bold; }
    .calif .carousel-inner img {
      max-width: 122px;
      width: 100%;
      max-height: 124px;
      height: 100%;
      display: block;
      margin: auto; }
    .calif .carousel-inner .star {
      max-width: 359px;
      width: 100%;
      max-height: 54px;
      height: 100%;
      margin-top: 30px; }

.multimarca {
  width: 1920px;
  height: 638px;
  background: #f2f2f2;
  border: 1px solid #000;
  position: absolute;
  top: 5115px;
  margin-top: 172.5px; }
  .multimarca img {
    width: 800px;
    height: 535px;
    position: absolute;
    top: 52.3px;
    left: 1021px; }
  .multimarca .txt {
    position: absolute;
    left: 95px;
    top: 89px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 941px;
    height: 513px;
    margin-right: 62px; }
    .multimarca .txt h2 {
      font-size: 90px;
      color: #1C448E;
      text-align: center; }
    .multimarca .txt p {
      font-size: 40px;
      color: #000;
      text-align: center; }

.maps {
  width: 1591px;
  height: 923px;
  margin: 160px 0;
  background: #fff;
  position: absolute;
  top: 5873px;
  left: 165px; }
  .maps iframe {
    width: 983px;
    height: 784px;
    display: block;
    margin: auto;
    border: 1px solid #000; }
  .maps h2 {
    font-size: 70px;
    font-weight: normal;
    color: #1C448E;
    text-align: center;
    margin-bottom: 40px; }

.contacto {
  width: 884px;
  height: 1000px;
  position: absolute;
  left: 518px;
  top: 7089px; }
  .contacto .container {
    width: 884px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; }
    .contacto .container .texto h2 {
      font-size: 70px;
      font-weight: normal;
      color: #1C448E;
      text-align: center; }
    .contacto .container .texto p {
      font-size: 35px;
      font-weight: normal;
      text-align: center;
      margin-top: 20px; }
    .contacto .container .btnCorreo {
      width: 491px;
      height: 105px;
      border: 2px solid #1C448E;
      border-radius: 90px;
      z-index: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .contacto .container .btnCorreo .img img {
        width: 78px;
        height: 78px;
        margin: 0 10px; }
      .contacto .container .btnCorreo .texto h3 {
        text-align: center;
        font-size: 35px;
        font-weight: normal; }
        .contacto .container .btnCorreo .texto h3 a {
          text-decoration: none;
          color: #000;
          text-align: center; }
      .contacto .container .btnCorreo:hover {
        background: #1C448E; }
        .contacto .container .btnCorreo:hover img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(102%) contrast(103%); }
        .contacto .container .btnCorreo:hover h3 a {
          color: #fff; }
    .contacto .container .btnWhatsapp {
      width: 491px;
      height: 105px;
      border: 2px solid #25D366;
      border-radius: 90px;
      margin-top: 50px;
      z-index: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .contacto .container .btnWhatsapp .img img {
        width: 78px;
        height: 78px;
        margin: 0 10px; }
      .contacto .container .btnWhatsapp .texto h3 {
        text-align: center;
        font-size: 35px;
        font-weight: normal; }
        .contacto .container .btnWhatsapp .texto h3 a {
          text-decoration: none;
          color: #000;
          text-align: center; }
      .contacto .container .btnWhatsapp:hover {
        background: #25D366; }
        .contacto .container .btnWhatsapp:hover img {
          filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%);
          -webkit-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%);
          -moz-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%); }
        .contacto .container .btnWhatsapp:hover h3 a {
          color: #fff; }
  .contacto .inCont {
    z-index: 1000; }
    .contacto .inCont .uno {
      clip-path: circle(0% at 0% 0%); }
    .contacto .inCont .dos {
      clip-path: circle(200% at 0% 0%);
      position: fixed;
      display: flex;
      top: 0;
      background: #1e3c72;
      background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
      background: linear-gradient(to right, #2a5298, #1e3c72);
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      left: 0;
      align-items: center;
      width: 100%;
      transition: 1s all ease-in; }
      .contacto .inCont .dos form {
        width: 800px;
        height: 400px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly; }
      .contacto .inCont .dos textarea {
        font-size: 25px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 725px;
        height: 200px;
        color: #fff;
        border-radius: 30px;
        padding: 10px;
        margin: 10px 10px; }
        .contacto .inCont .dos textarea:focus {
          border: 2px solid #050C73;
          outline: none; }
      .contacto .inCont .dos input[id="correo"] {
        font-size: 25px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 350px;
        height: 75px;
        color: #fff;
        border-radius: 90px;
        padding: 10px;
        margin: 10px 10px; }
        .contacto .inCont .dos input[id="correo"]:focus {
          border: 2px solid #050C73;
          outline: none; }
      .contacto .inCont .dos input[id="nombre"] {
        font-size: 25px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 350px;
        height: 75px;
        color: #fff;
        border-radius: 90px;
        padding: 10px;
        margin: 10px 10px; }
        .contacto .inCont .dos input[id="nombre"]:focus {
          border: 2px solid #050C73;
          outline: none; }
      .contacto .inCont .dos input[id="btn"] {
        font-size: 25px;
        background-color: transparent;
        border: 1px solid #fff;
        width: 725px;
        height: 75px;
        color: #fff;
        border-radius: 90px;
        margin: 10px 10px; }
        .contacto .inCont .dos input[id="btn"]:hover {
          background: #fff;
          color: #1C448E;
          border: 1px solid #1C448E;
          text-decoration: underline; }
      .contacto .inCont .dos .bck {
        width: 150px;
        height: 75px;
        display: flex;
        justify-content: flex-start; }
        .contacto .inCont .dos .bck a {
          font-size: 25px;
          background-color: transparent;
          border: 1px solid #fff;
          width: 150px;
          height: 75px;
          color: #fff;
          border-radius: 90px;
          position: fixed;
          left: 10px;
          top: 10px;
          text-decoration: none; }
          .contacto .inCont .dos .bck a:hover {
            background: #fff;
            color: #1C448E;
            border: 1px solid #1C448E;
            text-decoration: underline; }
          .contacto .inCont .dos .bck a p {
            font-size: 25px;
            text-decoration: none;
            text-align: center; }

@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.footer {
  width: 1920px;
  height: 521px;
  position: absolute;
  top: 7948px;
  margin: 0;
  padding: 0;
  background-image: url(../img/bkFooter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1920px; }
  .footer .container {
    height: 521px;
    width: 1920px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center; }
    .footer .container .socialMedia {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 220px; }
      .footer .container .socialMedia .sociaLi {
        margin: 0 80px;
        list-style: none; }
        .footer .container .socialMedia .sociaLi a {
          text-decoration: none;
          font-size: 35px;
          color: #fff; }
    .footer .container .final {
      width: 1920px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end; }
      .footer .container .final .derechos {
        width: auto;
        height: auto;
        margin-left: 650px; }
        .footer .container .final .derechos p {
          font-size: 35px;
          color: #fff; }
      .footer .container .final .credits {
        width: auto;
        align-self: flex-end;
        margin-right: 80px; }
        .footer .container .final .credits p {
          font-size: 15px;
          color: #fff; }
        .footer .container .final .credits a {
          font-size: 15px;
          color: #fff; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0; }

/*# sourceMappingURL=estilos.css.map */
