body {
  overflow-x: hidden; }
  body header {
    background-image: url(../img/bkHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 129%; }
    body header .topBar {
      width: 100%;
      height: auto;
      background: #f2f2f2;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
      body header .topBar .barMenu {
        animation: entradaDerecha 1s ease; }
      body header .topBar img {
        animation: entradaArriba 1s ease;
        width: 10%; }
      body header .topBar .texto {
        width: 883px; }
        body header .topBar .texto #barMenu {
          list-style: none;
          font-size: 1.563rem;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-evenly;
          align-items: center; }
          body header .topBar .texto #barMenu .barMenu a {
            text-decoration: none;
            color: #000;
            font-size: 1.563rem; }
            body header .topBar .texto #barMenu .barMenu a:hover {
              color: #A4A4A4; }
    body header .bkHeader .container {
      width: 100%;
      max-width: 1920px;
      height: auto;
      max-height: 1263px;
      animation: opacity 2s ease;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start; }
      body header .bkHeader .container .texto {
        order: 2;
        margin-right: 95px;
        display: flex;
        flex-direction: column; }
        body header .bkHeader .container .texto .flecha {
          width: 134px;
          height: 140px;
          transform: rotate(122deg);
          position: relative;
          right: 140px; }
        body header .bkHeader .container .texto .h1 h1 {
          font-size: 5.625rem;
          color: white;
          font-weight: normal;
          position: relative;
          top: 150px; }
        body header .bkHeader .container .texto .p p {
          font-family: "Caveat";
          font-size: 2.5rem;
          color: #fff;
          position: relative;
          right: 149px; }
    body header .bkHeader .btnCont {
      animation: entradaAbajo 1s ease;
      width: 268px;
      height: 45px;
      background: #fff;
      border: 1px #707070;
      border-radius: 90px;
      order: 1;
      align-self: flex-end;
      position: absolute;
      top: 940px;
      left: 43.02083%; }
      body header .bkHeader .btnCont a {
        text-decoration: none;
        color: #000;
        font-size: 1.875rem;
        padding: 24px; }
        body header .bkHeader .btnCont a:hover {
          text-decoration: underline; }

@keyframes entradaDerecha {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes entradaArriba {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes entradaAbajo {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@media screen and (max-width: 1000px) {
  body header .topBar .texto #barMenu .barMenu a {
    font-size: 1rem; } }
@media screen and (max-width: 881px) {
  body header .bkHeader .container .texto {
    margin-left: 200px; }
    body header .bkHeader .container .texto .h1 h1 {
      font-size: 50px; }
    body header .bkHeader .container .texto .p p {
      font-size: 25px; }
  body header .bkHeader .btnCont {
    left: 35%;
    margin: 0;
    width: 190px;
    height: 32.5px; }
    body header .bkHeader .btnCont a {
      padding: 5px 5px;
      font-size: 25px; } }
@media screen and (max-width: 500px) {
  body header .topBar .texto #barMenu .barMenu a {
    font-size: 10px; }
  body header .bkHeader .container {
    width: auto; }
    body header .bkHeader .container .texto .flecha {
      width: 120px;
      height: 126px;
      right: 100px; }
    body header .bkHeader .container .texto .h1 h1 {
      font-size: 40px; }
    body header .bkHeader .container .texto .p p {
      margin-left: 50px;
      font-size: 20px; }
  body header .bkHeader .btnCont {
    display: none; } }
@media screen and (max-width: 400px) {
  body .bkHeader .container {
    width: auto; }
    body .bkHeader .container .texto .flecha {
      width: 80px;
      height: 86px;
      left: -50px; }
    body .bkHeader .container .texto .h1 h1 {
      font-size: 40px;
      left: 50px; }
    body .bkHeader .container .texto .p p {
      left: -50px;
      margin-left: 50px;
      font-size: 20px; } }
.servicios {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  border: 1px #707070;
  margin: 66px 0 198px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center; }
  .servicios h2 {
    font-size: 5.625rem;
    color: #1C448E;
    font-weight: normal;
    text-align: center;
    align-self: center; }
  .servicios .serv {
    margin: 80px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center; }
    .servicios .serv .vline {
      background: #1C448E;
      width: 1px;
      height: 365px; }
    .servicios .serv .pintura {
      width: 345px;
      margin: 0 30px;
      height: 302px; }
      .servicios .serv .pintura h4 {
        font-size: 50px;
        font-weight: normal;
        color: #1C448E;
        text-align: center; }
      .servicios .serv .pintura ul li {
        color: #000;
        font-size: 30px;
        text-align: center;
        margin: 20px 0 20px 0;
        list-style: initial; }
    .servicios .serv .avaluo {
      width: 422px;
      height: 302px;
      margin: 0 30px; }
      .servicios .serv .avaluo h4 {
        color: #1C448E;
        font-size: 50px;
        font-weight: normal;
        text-align: center; }
      .servicios .serv .avaluo ul li {
        color: #000;
        font-size: 30px;
        text-align: center;
        margin: 20px 0 20px 0;
        list-style: initial; }
    .servicios .serv .enderezado {
      width: 400px;
      height: 302px;
      margin: 0 30px; }
      .servicios .serv .enderezado h4 {
        color: #1C448E;
        font-size: 50px;
        font-weight: normal;
        text-align: center; }
      .servicios .serv .enderezado ul li {
        color: #000;
        font-size: 30px;
        text-align: center;
        margin: 20px 0 20px 0;
        list-style: initial; }

@media screen and (max-width: 1350px) {
  .servicios .serv #line4 {
    display: none; } }
@media screen and (max-width: 889px) {
  .servicios .serv .vline {
    display: none; }
  .servicios .serv .pintura ul {
    list-style: none; }
    .servicios .serv .pintura ul li {
      text-align: center;
      list-style: none; }
  .servicios .serv .avaluo ul {
    list-style: none; }
    .servicios .serv .avaluo ul li {
      text-align: center;
      list-style: none; }
  .servicios .serv .enderezado ul {
    list-style: none; }
    .servicios .serv .enderezado ul li {
      text-align: center;
      list-style: none; } }
@media screen and (max-width: 800px) {
  .servicios h2 {
    font-size: 50px; } }
@media screen and (max-width: 550px) {
  .servicios {
    width: auto; }
    .servicios .serv {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: auto; }
      .servicios .serv .pintura {
        align-self: center;
        margin: 20px 20px 0 0;
        width: auto;
        height: auto; }
      .servicios .serv .avaluo {
        align-self: center;
        margin: 20px 20px 0 0;
        width: auto;
        height: auto; }
      .servicios .serv .enderezado {
        align-self: center;
        margin: 20px 20px 0 0;
        width: auto;
        height: auto; } }
@media screen and (max-width: 450px) {
  .servicios h2 {
    font-size: 35px; }
  .servicios .serv .pintura h4 {
    margin-left: 28px;
    font-size: 30px; }
  .servicios .serv .pintura ul li {
    font-size: 20px; }
  .servicios .serv .avaluo h4 {
    margin-left: 28px;
    font-size: 30px; }
  .servicios .serv .avaluo ul li {
    font-size: 20px; }
  .servicios .serv .enderezado h4 {
    margin-left: 28px;
    font-size: 30px; }
  .servicios .serv .enderezado ul li {
    font-size: 20px; } }
.Calidad {
  margin-bottom: 121px;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  text-align: center; }
  .Calidad .cImg1 {
    width: 96%;
    max-width: 500px;
    margin: 0 auto;
    align-self: flex-end;
    order: 2;
    margin: 0 auto 0 40px; }
    .Calidad .cImg1 .img1 {
      max-width: 100%;
      height: auto; }
  .Calidad .cImg2 {
    width: 96%;
    max-width: 600px;
    order: 3;
    margin: 0 40px 0 auto; }
    .Calidad .cImg2 .img2 {
      width: 100%;
      height: auto; }
  .Calidad .texto {
    align-self: center;
    order: 2;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .Calidad .texto h3 {
      font-size: 90px;
      color: #1C448E;
      font-weight: normal;
      margin: 2% 0; }
    .Calidad .texto .t1 {
      align-self: center; }
    .Calidad .texto .t2 {
      align-self: flex-start;
      position: relative;
      right: 12%; }
    .Calidad .texto .t3 {
      align-self: center;
      position: relative;
      left: 2%; }
    .Calidad .texto .t4 {
      align-self: flex-end;
      position: relative;
      left: 20%; }
    .Calidad .texto p {
      align-self: flex-end;
      text-align: left;
      font-size: 40px;
      position: relative;
      left: 20%;
      width: auto;
      height: auto; }

@media screen and (max-width: 1430px) {
  .Calidad .texto h3 {
    font-size: 70px; }
  .Calidad .texto p {
    font-size: 35px; } }
@media screen and (max-width: 800px) {
  .Calidad .texto h3 {
    font-size: 50px; }
  .Calidad .texto p {
    font-size: 25px; } }
@media screen and (max-width: 600px) {
  .Calidad {
    flex-flow: column wrap; }
    .Calidad .cImg1 {
      align-self: center;
      order: 3;
      margin: 30px 0; }
    .Calidad .cImg2 {
      order: 2;
      margin: 30px 0;
      align-self: center; }
    .Calidad .texto {
      order: 1;
      align-self: flex-start; }
      .Calidad .texto .t1 {
        align-self: center;
        position: static; }
      .Calidad .texto .t2 {
        align-self: center;
        position: static; }
      .Calidad .texto .t3 {
        align-self: center;
        position: static; }
      .Calidad .texto .t4 {
        align-self: center;
        position: static; }
      .Calidad .texto p {
        text-align: center;
        align-self: center;
        position: static; } }
@media screen and (max-width: 420px) {
  .Calidad .texto h3 {
    font-size: 40px; }
  .Calidad .texto p {
    font-size: 20px; } }
.beneficios {
  width: 100%;
  height: 92%;
  background: #f2f2f2;
  border: 1px solid #000;
  margin-bottom: 144.5px; }
  .beneficios .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 92.29%;
    height: 37.03%;
    align-items: center;
    margin: 20px 70px; }
    .beneficios .list h4 {
      font-size: 2.75rem;
      color: #1C448E; }
    .beneficios .list p {
      font-size: 1.563rem;
      color: #000;
      margin-top: 10px; }
      .beneficios .list p b {
        font-size: 1.563rem; }
    .beneficios .list img {
      width: 20%;
      height: auto; }
    .beneficios .list .ubi {
      width: 460px;
      height: 398px; }
      .beneficios .list .ubi h4 {
        text-align: center; }
      .beneficios .list .ubi p {
        text-align: center; }
      .beneficios .list .ubi img {
        display: block;
        margin: auto; }
    .beneficios .list .precio {
      width: 460px;
      height: 398px; }
      .beneficios .list .precio h4 {
        text-align: center; }
      .beneficios .list .precio p {
        text-align: center; }
      .beneficios .list .precio img {
        display: block;
        margin: auto;
        position: relative;
        top: 40px; }
    .beneficios .list .rapi {
      width: 460px;
      height: 398px; }
      .beneficios .list .rapi h4 {
        text-align: center; }
      .beneficios .list .rapi p {
        text-align: center; }
      .beneficios .list .rapi img {
        display: block;
        margin: auto; }
  .beneficios .dw {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 92.29%;
    height: 37.03%;
    margin: 100px 70px 20px 70px; }
    .beneficios .dw h4 {
      font-size: 2.75rem;
      color: #1C448E; }
    .beneficios .dw p {
      font-size: 1.563rem;
      color: #000;
      margin-top: 10px; }
      .beneficios .dw p b {
        font-size: 1.563rem; }
    .beneficios .dw img {
      width: 20%;
      height: auto; }
    .beneficios .dw .trato {
      width: 460px;
      height: 398px; }
      .beneficios .dw .trato h4 {
        text-align: center; }
      .beneficios .dw .trato p {
        text-align: center; }
      .beneficios .dw .trato img {
        display: block;
        margin: auto; }
    .beneficios .dw .horario {
      width: 460px;
      height: 398px; }
      .beneficios .dw .horario h4 {
        text-align: center; }
      .beneficios .dw .horario p {
        text-align: center; }
      .beneficios .dw .horario img {
        display: block;
        margin: auto;
        position: relative;
        top: 80px; }
    .beneficios .dw .tec {
      width: 460px;
      height: 398px; }
      .beneficios .dw .tec h4 {
        text-align: center; }
      .beneficios .dw .tec p {
        text-align: center; }
      .beneficios .dw .tec img {
        display: block;
        margin: auto;
        position: relative;
        top: 40px; }

@media screen and (max-width: 900px) {
  .beneficios .list {
    width: auto; }
    .beneficios .list h4 {
      font-size: 2.25rem; }
    .beneficios .list p {
      font-size: 1rem;
      color: #000;
      margin-top: 10px; }
      .beneficios .list p b {
        font-size: 1rem; }
    .beneficios .list img {
      width: 35%;
      height: auto; }
  .beneficios .dw {
    width: auto; }
    .beneficios .dw h4 {
      font-size: 2.25rem; }
    .beneficios .dw p {
      font-size: 1rem;
      color: #000;
      margin-top: 10px; }
      .beneficios .dw p b {
        font-size: 1rem; }
    .beneficios .dw img {
      width: 35%;
      height: auto; } }
.calif {
  width: 100%;
  height: 37%;
  background: #fff;
  border: 1px solid #000;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 144.5px; }
  .calif .carousel-item {
    width: 100%;
    height: 37%;
    margin-top: 20px; }
  .calif .carousel-inner {
    width: 100%;
    margin-top: 20px;
    height: 37%; }
    .calif .carousel-inner h3 {
      font-size: 35px;
      color: #000;
      text-align: center;
      margin-top: 20px;
      font-weight: bold; }
    .calif .carousel-inner p {
      font-size: 25px;
      color: #000;
      text-align: center;
      margin-top: 10px;
      font-weight: bold; }
    .calif .carousel-inner img {
      max-width: 122px;
      width: 100%;
      max-height: 124px;
      height: 100%;
      display: block;
      margin: auto; }
    .calif .carousel-inner .star {
      max-width: 300px;
      width: 100%;
      height: auto;
      margin-top: 20px;
      margin-bottom: 30px; }

.multimarca {
  width: 100%;
  height: 59%;
  background: #f2f2f2;
  border: 1px solid #000;
  margin-top: 172.5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center; }
  .multimarca img {
    margin: 50px 0;
    width: 41%;
    height: 27%; }
  .multimarca .txt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 49%;
    height: 26%;
    margin-right: 62px; }
    .multimarca .txt h2 {
      font-size: 90px;
      color: #1C448E;
      text-align: center; }
    .multimarca .txt p {
      font-size: 40px;
      color: #000;
      text-align: center; }

@media screen and (max-width: 850px) {
  .multimarca .txt h2 {
    font-size: 50px; }
  .multimarca .txt p {
    font-size: 25px; } }
@media screen and (max-width: 616px) {
  .multimarca {
    width: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
    .multimarca img {
      width: 95%; }
    .multimarca .txt {
      margin-right: 0;
      width: auto; } }
@media screen and (max-width: 450px) {
  .multimarca .txt h2 {
    font-size: 40px; }
  .multimarca .txt p {
    font-size: 20px; } }
.maps {
  width: 100%;
  height: 100%;
  margin: 160px 0;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .maps iframe {
    width: 983px;
    height: 784px;
    border: 1px solid #000; }
  .maps h2 {
    font-size: 70px;
    font-weight: normal;
    color: #1C448E;
    text-align: center;
    margin-bottom: 40px; }

@media screen and (max-width: 1050px) {
  .maps iframe {
    width: 600px;
    height: 400px; } }
@media screen and (max-width: 650px) {
  .maps iframe {
    width: 400px;
    height: 300px; }
  .maps h2 {
    font-size: 50px; } }
@media screen and (max-width: 650px) {
  .maps iframe {
    width: 300px;
    height: 200px; }
  .maps h2 {
    font-size: 40px; } }
.contacto {
  width: 100%;
  height: 100%; }
  .contacto .container {
    width: 46%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center; }
    .contacto .container .texto h2 {
      font-size: 70px;
      font-weight: normal;
      color: #1C448E;
      text-align: center; }
    .contacto .container .texto p {
      font-size: 35px;
      font-weight: normal;
      text-align: center;
      margin-top: 20px; }
    .contacto .container .btnCorreo {
      width: 491px;
      height: 105px;
      border: 2px solid #1C448E;
      border-radius: 90px;
      z-index: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .contacto .container .btnCorreo .img img {
        width: 78px;
        height: 78px;
        margin: 0 10px; }
      .contacto .container .btnCorreo .texto h3 {
        text-align: center;
        font-size: 35px;
        font-weight: normal; }
        .contacto .container .btnCorreo .texto h3 a {
          text-decoration: none;
          color: #000;
          text-align: center; }
      .contacto .container .btnCorreo:hover {
        background: #1C448E; }
        .contacto .container .btnCorreo:hover img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(313deg) brightness(102%) contrast(103%); }
        .contacto .container .btnCorreo:hover h3 a {
          color: #fff; }
    .contacto .container .btnWhatsapp {
      width: 491px;
      height: 105px;
      border: 2px solid #25D366;
      border-radius: 90px;
      margin-top: 50px;
      z-index: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      .contacto .container .btnWhatsapp .img img {
        width: 78px;
        height: 78px;
        margin: 0 10px; }
      .contacto .container .btnWhatsapp .texto h3 {
        text-align: center;
        font-size: 35px;
        font-weight: normal; }
        .contacto .container .btnWhatsapp .texto h3 a {
          text-decoration: none;
          color: #000;
          text-align: center; }
      .contacto .container .btnWhatsapp:hover {
        background: #25D366; }
        .contacto .container .btnWhatsapp:hover img {
          filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%);
          -webkit-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%);
          -moz-filter: grayscale(100%) brightness(200%) hue-rotate(360deg) saturate(1000%) contrast(1000%); }
        .contacto .container .btnWhatsapp:hover h3 a {
          color: #fff; }
  .contacto .inCont {
    width: auto;
    height: auto;
    z-index: 1000; }
    .contacto .inCont .uno {
      clip-path: circle(0% at 0% 0%); }
    .contacto .inCont .dos {
      clip-path: circle(145% at 0% 0%);
      position: fixed;
      display: flex;
      top: 0;
      background: #1e3c72;
      background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);
      background: linear-gradient(to right, #2a5298, #1e3c72);
      justify-content: space-around;
      align-items: center;
      height: 100%;
      left: 0;
      align-items: center;
      width: 100%;
      transition: 1s all ease-in; }
      .contacto .inCont .dos form {
        width: 41%;
        height: 37%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly; }
        .contacto .inCont .dos form textarea {
          font-size: 25px;
          background-color: transparent;
          border: 1px solid #fff;
          width: 725px;
          height: 200px;
          color: #fff;
          border-radius: 30px;
          padding: 20px;
          margin: 10px 10px; }
          .contacto .inCont .dos form textarea:focus {
            border: 2px solid #050C73;
            outline: none; }
        .contacto .inCont .dos form input[type="email"] {
          font-size: 25px;
          background-color: transparent;
          border: 1px solid #fff;
          width: 350px;
          height: 75px;
          color: #fff;
          border-radius: 90px;
          padding: 20px;
          margin: 10px 10px; }
          .contacto .inCont .dos form input[type="email"]:focus {
            border: 2px solid #050C73;
            outline: none; }
        .contacto .inCont .dos form input[type="text"] {
          font-size: 25px;
          background-color: transparent;
          border: 1px solid #fff;
          width: 350px;
          height: 75px;
          color: #fff;
          border-radius: 90px;
          padding: 20px;
          margin: 10px 10px; }
          .contacto .inCont .dos form input[type="text"]:focus {
            border: 2px solid #050C73;
            outline: none; }
        .contacto .inCont .dos form input[id="btn"] {
          font-size: 25px;
          background-color: transparent;
          border: 1px solid #fff;
          width: 725px;
          height: 75px;
          color: #fff;
          border-radius: 90px;
          margin: 10px 10px; }
          .contacto .inCont .dos form input[id="btn"]:hover {
            background: #fff;
            color: #1C448E;
            border: 1px solid #1C448E;
            text-decoration: underline; }
        .contacto .inCont .dos form .bck {
          width: 95%;
          height: 18.75%;
          display: flex;
          justify-content: flex-start; }
          .contacto .inCont .dos form .bck a {
            font-size: 25px;
            background-color: transparent;
            border: 1px solid #fff;
            width: 750px;
            height: 75px;
            color: #fff;
            border-radius: 90px;
            text-decoration: none; }
            .contacto .inCont .dos form .bck a:hover {
              background: #fff;
              color: #1C448E;
              border: 1px solid #1C448E;
              text-decoration: underline; }
            .contacto .inCont .dos form .bck a p {
              font-size: 25px;
              margin-top: 19px;
              text-decoration: none;
              text-align: center; }

@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@media screen and (max-width: 650px) {
  .contacto .container .texto h2 {
    font-size: 50px; }
  .contacto .container .texto p {
    font-size: 25px; }
  .contacto .container .btnCorreo {
    width: 291px;
    height: 52.5px; }
    .contacto .container .btnCorreo .img img {
      width: 39px;
      height: 39px;
      margin: 0 10px; }
    .contacto .container .btnCorreo .texto h3 {
      text-align: center;
      font-size: 20px;
      font-weight: normal; }
      .contacto .container .btnCorreo .texto h3 a {
        text-decoration: none;
        color: #000;
        text-align: center; }
  .contacto .container .btnWhatsapp {
    width: 291px;
    height: 52.5px; }
    .contacto .container .btnWhatsapp .img img {
      width: 39px;
      height: 39px;
      margin: 0 10px; }
    .contacto .container .btnWhatsapp .texto h3 {
      text-align: center;
      font-size: 20px;
      font-weight: normal; }
      .contacto .container .btnWhatsapp .texto h3 a {
        text-decoration: none;
        color: #000;
        text-align: center; }
  .contacto .inCont .dos form {
    align-self: flex-start; }
    .contacto .inCont .dos form textarea {
      font-size: 20px;
      width: 250px;
      flex-shrink: 0; }
    .contacto .inCont .dos form input[type="email"] {
      font-size: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      width: 250px;
      height: 75px;
      color: #fff;
      border-radius: 90px;
      padding: 20px;
      margin: 10px 10px; }
    .contacto .inCont .dos form input[type="text"] {
      font-size: 20px;
      background-color: transparent;
      border: 1px solid #fff;
      width: 250px;
      height: 75px;
      color: #fff;
      border-radius: 90px;
      padding: 20px;
      margin: 10px 10px; }
    .contacto .inCont .dos form input[id="btn"] {
      font-size: 20px;
      width: 250px;
      flex-shrink: 0; }
    .contacto .inCont .dos form .bck {
      font-size: 20px;
      width: 250px;
      flex-shrink: 0; } }
@media screen and (max-width: 450px) {
  .contacto .container .texto h2 {
    font-size: 40px; }
  .contacto .container .texto p {
    font-size: 20px; }
  .contacto .container .btnCorreo {
    width: 200px;
    height: 42.5px; }
    .contacto .container .btnCorreo .img img {
      width: 29px;
      height: 29px;
      margin: 0 10px; }
    .contacto .container .btnCorreo .texto h3 {
      text-align: center;
      font-size: 15px;
      font-weight: normal; }
      .contacto .container .btnCorreo .texto h3 a {
        text-decoration: none;
        color: #000;
        text-align: center; }
  .contacto .container .btnWhatsapp {
    width: 200px;
    height: 42.5px; }
    .contacto .container .btnWhatsapp .img img {
      width: 29px;
      height: 29px;
      margin: 0 10px; }
    .contacto .container .btnWhatsapp .texto h3 {
      text-align: center;
      font-size: 15px;
      font-weight: normal; }
      .contacto .container .btnWhatsapp .texto h3 a {
        text-decoration: none;
        color: #000;
        text-align: center; } }
.footer {
  width: 100%;
  height: 40%;
  margin-top: 60px;
  padding: 0;
  background-image: url(../img/bkFooter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .footer .socialMedia {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 45%;
    width: 100%;
    height: auto; }
    .footer .socialMedia .sociaLi {
      margin: 0 4%;
      list-style: none; }
      .footer .socialMedia .sociaLi a {
        text-decoration: none;
        font-size: 35px;
        color: #fff; }
  .footer .final {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end; }
    .footer .final .derechos {
      width: auto;
      height: auto; }
      .footer .final .derechos p {
        font-size: 35px;
        color: #fff; }
    .footer .final .credits {
      width: auto;
      align-self: flex-end;
      margin-right: 80px; }
      .footer .final .credits p {
        font-size: 15px;
        color: #fff; }
      .footer .final .credits a {
        font-size: 15px;
        color: #fff; }

@media screen and (max-width: 800px) {
  .footer .socialMedia .sociaLi a {
    font-size: 25px; }
  .footer .final .derechos p {
    font-size: 25px; }
  .footer .final .credits p {
    font-size: 10px; }
  .footer .final .credits a {
    font-size: 10px; } }
@media screen and (max-width: 465px) {
  .footer .socialMedia {
    flex-flow: row wrap; } }
@media screen and (max-width: 450px) {
  .footer .socialMedia .sociaLi a {
    font-size: 20px;
    margin: 0; }
  .footer .final .derechos p {
    font-size: 10px; }
  .footer .final .credits {
    display: none; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0; }

#entireDoc {
  height: 100%;
  max-height: 1080px;
  width: 100%;
  max-width: 1920px;
  scroll-behavior: smooth; }

body {
  font-size: 16px;
  height: 100%;
  max-height: 1080px;
  width: 100%;
  max-width: 1920px; }

/*# sourceMappingURL=estilos.css.map */
