@import 'header'
@import 'mecanicaRapida'
@import 'main'
@import 'slider'
@import 'galeria'
@import 'multimarca'
@import 'mapa'
@import 'contacto'
@import 'footer'

*
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  font-family: 'Poppins', sans-serif
  padding: 0
  margin: 0

#entireDoc
  height: 100%
  max-height: 1080px
  width: 100%
  max-width: 1920px
  scroll-behavior: smooth

body
  font-size: 16px
  height: 100%
  max-height: 1080px
  width: 100%
  max-width: 1920px
